.navigation__navigation-black{
    width: 100%;
    display: flex;
    align-items: center;
}

.navigation__hover:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 300ms;
}

.navigation__link{
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    transition: 300ms;
}

.navigation__link:nth-child(2){
    margin: 0 16px 0 auto;
}

.navigation__box{
    width: 26px;
    height: 26px;
    background-color: #313131;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}

.navigation__icon{
    width: 10px;
    height: 11px;
}

.navigation__burger{
    display: none;
    width: 44px;
    height: 44px;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url(../../images/icon__burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 300ms;
}

.navigation__close-icon{
    width: 22px;
    height: 22px;
    margin: 22px 22px 105px auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url(../../images/icon_close.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 300ms;
}

.navigation__menu-mobile{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    display: none;
    background-color: #202020;
    height: 100vh;
    width: 510px;
}

@media (max-width: 768px){
    .navigation__navigation-black{
        display: none;
    }

    .navigation__navigation-menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation__box{
        display: none;
    }

    .navigation__burger{
        display: flex;
    }

    .active{
        display: flex;
    }
    
    .close{
        display: none;
    }
    
    .navigation__link-mobile{
        text-decoration: none;
        color: #FFF;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        margin-bottom: 28px;
    }

    .navigation__link-mobile:nth-child(3){
        margin-bottom: 0;
    }
    
    
    .navigation__box-mobile{
        display: flex;
        align-items: center;
        margin: auto auto 90px;
    }

    .navigation__icon-mobile{
        width: 26px;
        height: 26px;
        background-color: #313131;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 7px;
    }

    .navigation__link{
        font-size: 13px;
        line-height: 12px;
        font-weight: 500;
        transition: 300ms;
    }
}

@media (max-width: 510px){
    .navigation__menu-mobile{
        width: 100%;
    }
}

@media (max-width: 425px){
    .navigation__close-icon{
        margin: 22px 22px 99px auto;
    }

    .navigation__link-mobile{
        margin-bottom: 24px;
    }

    .navigation__link-mobile:nth-child(3){
        margin-bottom: 0;
    }

    .navigation__box-mobile{
        display: flex;
        align-items: center;
        margin: 416px auto 46px;
    }
}