.login{
    width: 100%;
    height: 100vh;
    background-color: #202020;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container{
    max-width: 396px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.login__image{
    margin-top: 82px;
    width: 38px;
    height: 38px;
}

.login__title{
    width: 100%;
    text-align: left;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    margin: 40px auto 28px;
}

.login__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__label{
    max-width: 396px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #8b8b8b;
    margin-bottom: 24px;
}

.login__label:last-child{
    margin-bottom: 0;
}


.login__input{
    height: 32px;
    width: 100%;
    color: #FFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    background-color: transparent;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #424242;
}

.login__input:focus{
    border: none;
    border-bottom: 1px solid #4285F4;
}



.login__button{
    margin-top: 179px;
    max-width: 396px;
    height: 45px;
    background-color: #4285F4;
    color: #FFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login__box{
    display: flex;
    margin: 16px 0 70px;
    align-items: center;
    justify-content: center;
}

.login__text{
    color: #8b8b8b;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin: 0 6px 0 0;
}

.login__registrations{
    text-decoration: none;
    cursor: pointer;
    color: #4285F4;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}