@import url(./vendor/normalize.css);

/*Подключаем fonts*/
@import url(./fonts/fonts.css);

/*Подключаем page*/
@import url(./components/App/App.css);

.header{
    width: 100%;
    background-color: #073042;
    margin: 0 auto;
}
